h2.Creerunblog {
  text-align: center;
  font-size: 2em;
}

.Contenu-Blog {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 0 8px rgba(8, 60, 99, 0.1);
  border-radius: 4px;
  text-align: center;
}

.form-group {
  margin: 16px 0;
}

label {
  display: block;
  font-size: 1em;
  margin: 8px 0;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

button.button-success {
  background-color: #135774;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 1em;
  cursor: pointer;
}

button.button-success:hover {
  background-color: #273439;
  text-align: center;
}

button {
  background-color: white;
  color: #007bff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 16px;
}

button:hover {
  background-color: #f8f9fa;
}