<div class = "Atras">
<div *ngIf="this.loginValidationService.isLoggedIn()">Vous êtes connecté!</div>
<h2 class="Editerunblog">Editer votre blog</h2>

<div class="blog-list">
  <ul>
    <li *ngFor="let blog of blogs | keyvalue">
        <!-- directive pour boucler l’objet et afficher ses paires clé-valeur *ngFor blogs keyvalue -->
      <h2>{{ blog.key }}</h2>
      <p>{{ blog.value }}</p>
      <!-- <button class="Modifier" (onclick)="editBlog(blog.value)">Modifier</button> -->
      <button class="Modifier" (click)="editBlog(blog.key)">Modifier</button>
      <!-- <button class="Modifier" (click)="editBlog(blog.key, blog.value)">Modifier</button> -->
      <!-- <button class="Modifier" (click)="editBlog(blog.key)">Modifier</button> -->
    </li>
  </ul>
  
</div>