
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <a style="margin-right: 10px;"></a>
    <title>{{ pageTitle }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet">

    <style>
        /* Styles from SCSS file */
        /* ... */

        /* Responsive styles */
        @media (max-width: 576px) {

            /* Hide toolbar when menu is open */
            body.menu-open .toolbar {
                display: none;
            }
        }
    </style>

</head>

<body>
    <div class="toolbar" role="banner">
        <nav>
            <a style="margin-right: 10px;"></a>
            <a style="margin-right: 10px;">Hiblog</a>
            <a (click)="userInfo()" style="margin-right: 10px;">Compte</a>
            <a (click)="goToBloglist()">Blogs</a>
        </nav>

        <div class="user-side">
            <div class="user">
                <span>Bienvenue, {{ user.nom }} {{ user.prenom }}</span>
                <img [src]="user.avatarUrl || '../../assets/images/avatar.png'" alt="Avatar" class="avatar">
                <input type="file" (change)="onFileSelected($event)" [hidden]="user.avatarUrl">
                <a class="logout" (click)="logout()">Se déconnecter</a>
                <a style="margin-right: 10px;"></a>
            </div>
        </div>

    </div>
    <h2 class="Hiblog">{{ pageTitle }}</h2>

</body>

</html>