@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background: url(http://wallpapercave.com/wp/aZlqiAT.png) 50% 50% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
}

nav {
  width: 30px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: flex;
  line-height: 50px;
  padding: 0 60px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: #8dbad6; }

a:active { background: #8dbad6; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 2px 4px;
  -ms-transform-origin: 2px 4px;
  transform-origin: 3px 2px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: flex;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

h2.Hiblog {
    text-align: center;
    font-size: 2em;
    margin: 0.1px 0;
  }

  h3.user {
    text-align: center;
    font-size: 1em;
    margin: 0.1px 0;
  }