<div *ngIf="isUserLoggedIn">
    <div class="toolbar" role="banner">
        <h2 class="Hiblog">Hiblog</h2><br>
        <!-- <h3>{{pageName}}</h3> -->
        <div *ngIf="user">
            <h3 class="user">
                Bienvenu(e), {{ user.nom }} {{user.prenom}}
            </h3>
        </div>
        <nav>
            <div class="navicon">
                <div></div>
            </div>
            <a (click)="logout()">Sortir</a>
            <a (click)=" goToBloglist()">Blogs</a>
            <a (click)=" userInfo()">Compte</a>
        </nav>
    </div>
</div>