.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;

    
}

.toolbar span {
    margin: auto;
}
.card.card.highlight-card span {
    margin-left: 60px;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #3886b0;
    color: white;
    font-weight: 600;
}