<app-tool-bar></app-tool-bar>
<div class="Contenu-login">
    <h2 class="Hiblog">Hiblog</h2>
    <div class="form-horizontal">
        <div class="emailpasswordbox">
            <div class="form-group">
                <label for="inputemail">Email : </label>
                <input type="email" (change)="controle()" [(ngModel)]="loginmodel.email" id="inputemail" name="email"
                    placeholder="Entrez votre mail" pattern=".+@capgemini\.com" required size="30" />
            </div><br>
            <div class="form-group">
                <label for="inputmotdepasse">Mot de passe : </label>
                <input type="password" (keyup)="controle()" [(ngModel)]="loginmodel.motdepasse.pwd" id="inputmotdepasse"
                    name="password" placeholder="Entrez un mot de passe">
            </div><br>
        </div><br>
        <button class="button-success" (click)="onContinue()" [disabled]="isDisabled">Continuer</button>
        <button class="button-success" (click)="creerUncompte()">Créer un compte</button>
    </div>
</div>