<div class="Contenu-login">

    <div class="form-horizontal">

        <div class="form-group">
            <label for="inputemail">Email : </label>

            <input type="email" (change)="controle()" [(ngModel)]="loginmodel.email" id="inputemail" name="email"
                placeholder="Email" pattern=".+@capgemini\.com" required size="30" />
        </div>

        <div class="form-group">
            <label for="inputmotdepasse">Mot de passe : </label>

            <input type="password" (keyup)="controle()" [(ngModel)]="loginmodel.motdepasse.pwd" id="inputmotdepasse"
                name="password" placeholder="Mot de passe">
        </div>

        <button class="button-success" (click)="onContinue()" [disabled]="isDisabled">Continuer</button>

        <button class="button-success" (click)="creerUncompte()">Créer un compte</button>

    </div>