<div class="Contenu-login">
    <!-- 2
    <form class="form-horizontal" #signupForm="ngForm">
    </form>

        <div class="form-group">
            <label for="inputemail">email</label>
            <input type="text" [(ngModel)]="loginmodel.email" placeholder="email">
        </div>

        <div ngModelGroup="motdepasse">
            <div class="form-group">
                <label for="inputmotdepasse">motdepasse</label>
                <input type="motdepasse" [(ngModel)]="loginmodel.motdepasse" placeholder="motdepasse">
            </div>

            <button type="submit" (click)="onContinue()" class="btn btn success" [disabled]="!signupForm.form.valid">
                submit
            </button> -->




    <!-- 1 -->
    <!-- <form class="contenu-form" [formGroup]="loginForm">
        <p class="Titre">HiBlog</p>

        <div>
            <div>
               <input class="input-Login" placeholder="email" formControlName="email" />
                 
            </div>

             <div class="message-erreur" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.errors">
                Tapez votre mail sinon...<br>
                <br>
            </div>

            <div class="message-erreur"
                *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.errors"><br>
                Le mail n'est pas valide chef !<br>
                <br>
            </div> 

        </div>


        <div>
            <div>
                <input class="input-Login" placeholder="mot de passe" formControlName="motdepasse" /> 
            </div>
            <div class="message-erreur"
                *ngIf="loginForm.get('motdepasse')?.errors && loginForm.get('motdepasse')?.errors">
                Tapez votre mot de passe sinon...
            </div>

             <div class="message-erreur"
                *ngIf="loginForm.get('motdepasse')?.errors?.['motdepasse'] && loginForm.get('motdepasse')?.errors">
                La prochaine faute je te bloque !

            </div> 
        </div>

        <div>
            <button type="submit" (click)="onContinue()">Continuer</button>
        </div>

        <div>
            <button type="submit" (click)="creerUncompte()">Créer un compte</button>
        </div>
    </form>
 -->

    <div class="form-horizontal">


        <div class="form-group">
            <label for="inputemail">Email : </label>

            <!-- <input type="text" (ngModelChange)="controle()" [(ngModel)]="loginmodel.email" id="inputemail"
                name="email" placeholder="Email"> -->

            <input type="email" (change)="controle()" [(ngModel)]="loginmodel.email" id="inputemail" name="email"
                placeholder="Email"
                pattern=".+@capgemini\.com" required
                size="30"
               />

                <!-- ngModel pattern="[a-zA-Z ]*" required
                title="inserez un mail" -->
                <!-- faire appel à un evenement  -->
            
            <!-- combiner l'évènement de changement du model avec la variable du model. -->

            <!-- <input type="text" (ngModelChange)="loginmodel.email = $event" [ngModel]="loginmodel.email" id="inputemail" name="email"
                placeholder="Email"> -->
            <!-- 
            <input type="text" (input)="controle()" [(ngModel)]="loginmodel.email" id="inputemail" name="email"
                placeholder="Email"> -->
        </div>

        <div class="form-group">
            <label for="inputmotdepasse">Mot de passe : </label>
<!-- 
            Le (change)="changeFn($) » se déclenche après que la valeur liée à [(ngModel)] a changé
            (ngModelChange)="modelChangeFn($event) » se déclenche avant que la valeur liée à [(ngModel)] n’ait changé. -->
             
            <!-- <input type="text" (ngModelChange)="controle()" [(ngModel)]="loginmodel.motdepasse.pwd" id="inputmotdepasse" name="pwd"
                placeholder="Mot de passe"> -->

            <input type="password"  (keyup)="controle()" [(ngModel)]="loginmodel.motdepasse.pwd" id="inputmotdepasse"
                name="password" placeholder="Mot de passe"><br>

            <!-- <input type="text" (ngModelChange)="loginmodel.motdepasse.pwd = $event" [ngModel]="loginmodel.motdepasse.pwd"
                name="pwd" placeholder="Mot de passe"> -->
            <!-- 
            <input type="motdepasse" (input)="controle()" [(ngModel)]="loginmodel.motdepasse.pwd"
                click="controle()" name="pwd" placeholder="Mot de passe"> -->
        </div>
        <!-- <button class="button-success" (click)="onContinue()"
            [disabled]="!(loginmodel.motdepasse.pwd && loginmodel.email)">
             <button class="button-success" ng-click="loginmodel.$valid && onContinue()" [disabled]="true">Contin
            Submit
        </button> -->

        <button class="button-success" (click)="onContinue()" [disabled]="isDisabled">Continuer</button>
        
        <button class="button-success" (click)="creerUncompte()" >Créer un compte</button>

    </div>