<div class="blog-list">
  <h1>Blog List</h1>
  <ul>
    <li *ngFor="let blog of blogs | keyvalue">
      <h2>{{ blog.key }}</h2>
      <p>{{ blog.value }}</p>
      <button (click)="editBlog(blog.key)">Edit Blog</button>
      <button (click)="deleteBlog(blog.key)">Delete Blog</button>
    </li>
  </ul>
  <button (click)="addNewBlog()">Add New Blog</button>
</div>

<!-- editer le blog -->
<form id="edit-form" style="display:none;">

  <label for="edit-titre">Titre:</label><br>
  <input type="text" id="edit-titre" [(ngModel)]="editTitre" name="editTitre"><br>

  <label for="edit-description">Description:</label><br>
  <textarea id="edit-description" [(ngModel)]="editDescription" name="editDescription"></textarea><br>

  <button (click)="submitEdit()">Submit</button>
  <button (click)="cancelEdit()">Cancel

  <button (click)="refreshBlogs()">Refresh</button>