<div *ngIf="this.loginValidationService.isLoggedIn()"> Vous êtes connecté!</div>
<div class="blog-list">
  <h1>Blog List</h1>
  <ul>
    <li *ngFor="let blog of blogs | keyvalue">
      <!-- directive pour boucler l’objet et afficher ses paires clé-valeur *ngFor blogs keyvalue -->
      <h2>{{ blog.key }}</h2>
      <p>{{ blog.value }}</p>
      <button (click)="editBlog()">Editer le Blog</button>
    </li>
  </ul>
</div>

<button (click)="addNewBlog()">Ajouter un Blog</button>
<button (click)="this.loginValidationService.logout()">Logout</button>

