
  <div *ngIf="this.loginValidationService.isLoggedIn()"> Vous êtes connecté!</div>
  <div class="blog-list">
    <h1>Liste de Blog</h1>
    <div class="blogbox">
      <ul>
        <div class="blogbox1">
          <li *ngFor="let blog of blogs | keyvalue">
            <div class="blogbox2">

              <div class="blogbox">
                <h2>{{ blog.key }}</h2>
              </div>
              <div class="blogbox">
                <p>{{ blog.value }}</p>
              </div><br>
              <button class="button-success" (click)=" modifyBlog(id)">Modifier</button><br>
              <button class="button-success" (click)="deleteBlog(id)">Effacer</button>
            </div><br>
          </li>
        </div>
      </ul>
    </div><br>
  </div> <br>
  <button class="button-success" (click)="addNewBlog()">Ajouter un Blog</button><br>

  <button class="button-success" (click)="refreshBlogs()">Rafraîchir</button>
  <br><button class="button-success" (click)="this.loginValidationService.logout()">Logout</button>
