<div class="contenu-login">
    <div class="form-horizontal">


        <div class="form-group">
            <label for="inputemail">Email : </label>

            <input type="email" (change)="controlecreation()" [(ngModel)]="creruncomptemodel.email" id="inputemail"
                name="email" placeholder="Email" pattern=".+@capgemini\.com" required size="30" />
        </div>

        <div class="form-group">
            <label for="inputmotdepasse">Mot de passe : </label>

            <input type="text" (change)="controlecreation()" [(ngModel)]="creruncomptemodel.motdepasse.pwd"
                id="inputmotdepasse" name="pwd" placeholder="Mot de passe">
        </div>

        <div class="form-group">
            <label for="inputconfirmermotdepasse">Confirmer le mot de passe : </label>

            <input type="text" (change)="controlecreation()" [(ngModel)]="creruncomptemodel.motdepasse.confirmPwd"
                id="inputmotdepasse" name="confirm_pwd" placeholder="Confirmer le mot de passe">
        </div>



        <button class="button-success" (click)="enregistrer()" [disabled]="isValid">Enregistrer
        </button>

        <!-- <form class="contenu-form" [formGroup]="compteForm">
        <p class="titre">Créer votre compte</p>

        <div>
            <div>
                <input class="nom" placeholder="nom" formControlName="nom" />
                <br>
            </div>

            <div class="message-erreur" *ngIf="compteForm.get('nom')?.errors && compteForm.get('nom')?.errors">
                Tapez votre nom sinon...<br>
                <br>
            </div>

        </div>

        <div>
            <div>
                <input class="prenom" placeholder="prenom" formControlName="prenom" />
                <br>
            </div>

            <div class="message-erreur" *ngIf="compteForm.get('prenom')?.errors && compteForm.get('prenom')?.errors">
                Tapez votre Prenom sinon...<br>
                <br>
            </div>

        </div>

        <div>
            <div>
                <input class="input-Login" placeholder="email" formControlName="email" />
                <br>
            </div>

            <div>

            </div>

            <div class="message-erreur" *ngIf="compteForm.get('email')?.errors && compteForm.get('email')?.errors">
                Tapez votre mail sinon...<br>
                <br>
            </div>

            <div class="message-erreur"
                *ngIf="compteForm.get('email')?.errors?.['email'] && compteForm.get('email')?.errors"><br>
                Le mail n'est pas valide chef !<br>
                <br>
            </div>

        </div>

        <div>
            <div>
                <input class="input-Login" placeholder="mot de passe" formControlName="motdepasse" /><br>
            </div>
            <div class="message-erreur"
                *ngIf="compteForm.get('motdepasse')?.errors && compteForm.get('motdepasse')?.errors">
                Tapez votre mot de passe sinon...<br>
                <br>
            </div>

            <div class="message-erreur"
                *ngIf="compteForm.get('motdepasse')?.errors?.['motdepasse'] && compteForm.get('motdepasse')?.errors">
                <br>
                La prochaine faute je te bloque !<br>
                <br>
            </div>
        </div> -->

    </div>