
<app-tool-bar class="titre" [pageTitle]="titrePage"></app-tool-bar><br>
<div>


  
  <div class="blog-list">
    <div class="search-container">
      <input type="text" placeholder="Rechercher un blog" [(ngModel)]="searchQuery" (input)="search()">
      <div *ngIf="blogs.length === 0 && searchQuery">
        <p>Aucun résultat trouvé pour "{{ searchQuery }}"</p>
      </div>
      <button type="button" (click)="search()">Rechercher<i class="fa fa-search"></i></button>
    </div><br>
    <ul>

      <div class="blogbox1">
        <div *ngFor="let blog of blogs">
          <div class="blogbox0">
            <div class="blogbox">
              <label for="blog.category">Categorie:</label>
              <div class="blogboxElement">
                <td>{{ blog.category }}</td>
              </div>
            </div>
            <div class="blogbox">
              <label for="inputblog">Titre du Blog: </label>
              <div class="blogboxElement">
                <td>{{ blog.titre }}</td>
              </div>
            </div>
            <div class="blogbox">
              <label for="blog.description">Description :</label>
              <div class="blogboxElement">
                <p>{{ blog.description }}</p>
              </div>
            </div>
          </div>
          <button class="button-success" (click)="modifyTheBlog(blog.id)">Modifier</button><br>
          <button class="button-success" (click)="duplicateBlog(blog.id)">Dupliquer</button><br>
          <button class="button-success" (click)="deleteBlog(blog.id)">Effacer</button><br>
        </div>
      </div>
    </ul>
    <div *ngIf="blogs.length === 0">
      Il n'y pas de blog.
    </div>
  </div>
  <button class="button-success" (click)="addNewBlog()">Ajouter un Blog</button><br>
</div>


