<div *ngIf="this.loginValidationService.isLoggedIn()"> Vous êtes connecté!</div>
<!-- {{this.loginmodel.email}} -->

<h2 class="Creerunblog">Créer votre blog</h2>

<div class="Contenu-Blog">

    <div class="form-group">
        <label for="inputblog">Titre du Blog : </label><br>

        <input type="text" [(ngModel)]="blogmodel.blog.titre" (change)="controleblog()" id="inputblog" name="titre"
            placeholder="Entrez le titre de votre blog">
    </div>

    <label for="blogdescription">Description :</label><br>
    <textarea id="blogdescription" (change)="controleblog()" [(ngModel)]="blogmodel.blog.description"
        name="blogdescription " rows="5" placeholder="Hm de quoi voulez-vous nous parler !" cols="33"></textarea><br>

    <button class="button-success" (click)="creerUnblog()">Enregistrer</button>
    <button (click)="this.loginValidationService.logout()">Logout</button>
</div>

